.icon-item {
    height:35px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    display:flex
    
}
.text-title {
    font-weight: bold;
    color: #474747;
}
.text-icon{
    color: #f2f2f2;
    mix-blend-mode: difference;
    font-weight: bold;
    margin: auto;
}