.root-user-item {
    cursor:'pointer'
}
.root-user-item:hover{
    background-color: '#f2f2f2' 
}
.icon-user-item {
    width:30px !important;
    aspect-ratio: 1 / 1;
    color: #474747;
    /* mix-blend-mode: difference; */
    font-weight: bold;
}
.noti {
    padding: 2px 6px 2px 6px;
    right: 20px;
    top: -5px;
    font-weight: bold;
    font-size: 11px;
    background-color: #f55f5f;
    color: #ffffff;
}
.text-icon{
    color: #f2f2f2;
    mix-blend-mode: difference;
    font-weight: bold;
    margin: auto;
}
@media (max-width:768px) {
    .icon-user-item {
        width:50px !important;
    }
}